# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Conda / venv
# ========================
.env
.venv/
venv/
env/
miniconda3/

# ========================
# LangChain / AI
# ========================
.env.local
.env.*.local
*.log

# API Key / Secret
*.key
*.pem

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# IDE
# ========================
.vscode/
.idea/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
.sqlite
.sqlite-wal
.sqlite-shm
# ========================
# Git
# ========================
*.orig
